<h2>  Add a new animal to your list!  </h2>

<form action="/animals" method="post">
  <input type="text" name="name" placeholder="Enter animals name">
  <input type="integer" name="age" placeholder="Enter an age">
  <input type="text" name="animal_type" placeholder="Enter the type of animal you're listing.">
  <input type="submit">
</form>