<p><h2>Here's the updated / added animal.</h2></p>
<h1><%= @animal.name %></h1>
<p>Type: <%= @animal.animal_type%></p>
<p>Age: <%= @animal.age %></p>

<p><a href="/animals"> Go back to the menagerie? </a></p>